@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #8A51FC;
    ;
}

main {
    background: #F4F4F4;
    width: 375px;
    border-radius: 20px;

}




header img {
    width: 20%;
    display: block;
    margin: 20px auto;
}


.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    margin: 24px
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    

}



main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    box-shadow: 8px 8px 8px 1px #00000040;

}

input {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    height: 38px;


}


select {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 38px;
        

}

button {
    border: none;
    width: 80%;
    color: white;
    background: #772FD3;
    font-size: 1.5rem;
    margin: 12px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 8px;
    cursor: pointer;

}

button:hover {
    opacity: 0.9;

}

button:active {
    opacity: 0.8;
}

section{
    border: 1px solid #772FD3;
    border-radius: 20px;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
      
        
    
}

.currency{
    color: #777777;
    font-size: 16px;
    padding: 8px 0px;


}

.currency-value{
    color: #555555;
    font-weight: 700;
    font-size: 20px;



}

.coin-img{
    width: 60px;

}

